<div class="form-horizontal import-form">
  <div class="inputs">
    {{#if importing}}
      {{loading-spinner size="small"}}
    {{else}}
      <input onchange={{action "import"}} type="file" id="import-file-input" accept='text/csv,text/plain'><br>
      <span class="description">{{i18n 'admin.lm_seo.categories.import.description'}}</span><br>
    {{/if}}
  </div>
</div>

