<div class="row lm-seo-categories">

  <div class="content-list span6">
    <ul>
      <li>{{#link-to 'adminSeo.categories.templates'}}{{i18n 'admin.lm_seo.categories.templates.label'}}{{/link-to}}</li>
    </ul>
  </div>

  <div class="content-editor">
    {{outlet}}
  </div>

</div>
