<div class="row lm-seo-topics">

  <div class="content-list span6">
    <ul>
      <li>{{#link-to 'adminSeo.topics.export'}}{{i18n 'admin.lm_seo.topics.export.label'}}{{/link-to}}</li>
      <li>{{#link-to 'adminSeo.topics.import'}}{{i18n 'admin.lm_seo.topics.import.label'}}{{/link-to}}</li>
      <li>{{#link-to 'adminSeo.topics.templates'}}{{i18n 'admin.lm_seo.topics.templates.label'}}{{/link-to}}</li>
    </ul>
  </div>

  <div class="content-editor">
    {{outlet}}
  </div>

</div>
