{{#admin-nav}}
  {{nav-item route='adminSeo.robots' label='admin.lm_seo.robots.label'}}
  {{nav-item route='adminSeo.sitemap' label='admin.lm_seo.sitemap.label'}}
  {{nav-item route='adminSeo.topics' label='admin.lm_seo.topics.label'}}
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>
