.admin-interface {

  .lm-seo {
    .form-horizontal {
      label {
        font-weight: bold;
      }

      .input:not(:first-child) {
        margin-top: 10px;
      }

      .buttons {
        margin-top: 10px;
      }

      input, textarea, select, .select-box {
        width: 350px;
      }

      textarea {
        min-height: 6em;
      }

      input[type="checkbox"], input[type="radio"] {
        width: 20px;
      }
    }
  }

  .nav.nav-pills > span, .admin-menu-outlet {
    @extend .nav-pills;
  }

}
